---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: websites.sites.davidweb.com
spec:
  group: sites.davidweb.com
  names:
    kind: Website
    listKind: WebsiteList
    plural: websites
    singular: website
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Website is the Schema for the websites API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WebsiteSpec defines the desired state of Website
            properties:
              gitURL:
                description: GitURL is the URL of the git repository containing static
                  site content
                type: string
              replicas:
                default: 1
                description: Replicas is the number of nginx pods to run
                format: int32
                minimum: 1
                type: integer
            required:
            - gitURL
            type: object
          status:
            description: WebsiteStatus defines the observed state of Website
            properties:
              availableReplicas:
                description: AvailableReplicas is the number of ready pods
                format: int32
                type: integer
              phase:
                enum:
                - Pending
                - Running
                - Failed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
